.scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown img {
  display: block;
  max-width: 100%;
  height: auto;
}
label {
  float: left;
}

.navbar {
  background: black;
  opacity: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Arvo", serif;
}

@keyframes fade {
  0% {
    opacity: 1;
    color: "rgb(255, 174, 0)";
  }
  100% {
    opacity: 0;
    color: black;
  }
}

.titleSvg1 {
  margin-left: 100px;
  margin-top: 30px;
}

.name {
  z-index: 2;
  background: rgb(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  backdrop-filter: blur(8px);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shape {
  height: 10rem;
  position: absolute;
  top: 20%;
  left: 30%;
}

.title {
  background: black;
}

.title.row {
  margin-top: 20%;
}
.tech {
  background: black;
  border-radius: 200px;
}
.projectcardbody {
  background-color: black;
}
.blogcardbody {
  background-color: black;
}

.text-1 {
  font-size: 49px;
}
.font {
  font-family: "Otomanopee One", sans-serif;
}
.font1 {
  font-family: "Dancing Script", cursive;
}

.blogs {
  font-family: "Merienda", cursive;
}
.projects {
  font-family: "Courgette", cursive;
}
.tech-font {
  font-family: "Zen Tokyo Zoo", cursive;
}
.interested {
  font-family: "Uchen", serif;
}
.text-2 {
  border-top: white 3px solid;
  display: inline-block;
}

#girl-board {
  animation: girl 3s infinite alternate;
}

@keyframes girl {
  0% {
    opacity: 0;
    transform: translate3D(70px, 0, 0);
  }
  100% {
    opacity: 1;
    tranform: translate3D(0, 0, 0);
  }
}

#laptop {
  animation: lap 3s;
}

@keyframes lap {
  0% {
    transform: translate3D(0, -500px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

#screen {
  animation: screen 5s ease-in;
}
@keyframes screen {
  0% {
    transform: translate3d(-1000px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

#screen-coder {
  animation: screen-about 4s infinite alternate;
}

@keyframes screen-about {
  0% {
    opacity: 0;
    transform: translate3d(600px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.svg2 {
  margin-right: 70px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(25%) translateY(-50%);
}
@media screen and (max-width: 992px) {
  .svg2 {
    display: none;
  }
  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    width: 100%;
    display: block;
    font-size: 40px;
    padding: 3px;
    margin-left: 5px;
  }
  .titleSvg1 {
    margin-left: 0;
  }
}
.wave {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  width: 100%;
}
.wave1 {
  opacity: 100%;
  /* animation: wavy 3s infinite linear 3s alternate; */
}
.wave2 {
  opacity: 30%;
}
.wave3 {
  opacity: 40%;
}
.wave4 {
  opacity: 20%;
}
